@{
    ViewBag.Title = "Home Page";
}

<h1>Hello World</h1>
<h2>Dagur Arinbjörn Daníelsson</h2>
<h2>Bergþór Þrastarson</h2>
<h2>Elvar Laxdal</h2>
<h2>Ægir Már Jónsson</h2>
<h2>Haraldur Arnarson</h2>
<h2>Atli Foxí beib</h2>